In [2]:
import pandas as pd
import numpy as np

In [3]:
var = np.arange(20).reshape(5, 4)

In [ ]:
var

In [ ]:
var.mean()

In [ ]:
var[2:4, :3].mean()

In [ ]:
# numpy arrays are built on the idea of AXES
var.mean(axis=1)

In [ ]:
var

In [ ]:
var.mean(axis=0)

In [4]:
df = pd.read_csv(r"C:\Users\Jonat\DAT-10-19\ClassMaterial\Unit2\data\restaurants.csv")

 - Find the file in finder
 - Highlight it
 - Option + Command + C (will paste the filepath_

In [ ]:
r"C:\Users\Jonat\DAT-10-19\ClassMaterial\Unit2\data\restaurants.csv"

In [ ]:
pwd

In [ ]:
df

In [ ]:
type(df)

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.mean()

In [ ]:
df['id']

In [ ]:
df.head()

In [ ]:
df['visit_date']

In [ ]:
df[['visit_date', 'visitors', 'id']]

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
# this grabs the first 50 rows of the dataset
df[:50]

In [ ]:
df[:50].mean()

In [ ]:
df[['visitors', 'holiday', 'reserve_visitors']][:200].mean()

In [ ]:
# .iloc allows you to look up items by their INDEX
df.iloc[:250, -4:]

In [ ]:
df.mean()

In [5]:
df.describe()

,visitors,holiday,latitude,longitude,reserve_visitors
count,252108.000000,252108.000000,252108.000000,252108.000000,108394.000000
mean,20.973761,0.050673,35.613121,137.357865,16.699808
std,16.757007,0.219329,2.044473,3.671577,17.388735
min,1.000000,0.000000,33.211967,130.195555,1.000000
25%,9.000000,0.000000,34.692337,135.341564,4.000000
50%,17.000000,0.000000,35.658068,139.670038,10.000000
75%,29.000000,0.000000,35.694003,139.751599,24.000000
max,877.000000,1.000000,44.020632,144.273398,96.000000

In [7]:
df['reserve_visitors'][-100:].mean()

15.123456790123457

In [8]:
df['visitors'].mean()

20.973761245180636

In [9]:
df[['visitors', 'holiday']].median()

visitors    17.0
holiday      0.0
dtype: float64

In [11]:
df['visitors'][:5000].min()

1

In [13]:
df.iloc[:, -4:].mode()

                             area   latitude   longitude  reserve_visitors
0  Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813               2.0

In [14]:
df.iloc[:250, :3].mean()

visitors    24.912
dtype: float64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252108 entries, 0 to 252107
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                252108 non-null  object
 1   visit_date        252108 non-null  object
 2   visitors          252108 non-null  int64
 3   calendar_date     252108 non-null  object
 4   day_of_week       252108 non-null  object
 5   holiday           252108 non-null  int64
 6   genre             252108 non-null  object
 7   area              252108 non-null  object
 8   latitude          252108 non-null  float64
 9   longitude         252108 non-null  float64
 10  reserve_visitors  108394 non-null  float64
dtypes: float64(3), int64(2), object(6)
memory usage: 21.2+ MB

In [18]:
df[df['day_of_week'] == 'Wednesday']

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
6,air_ba937bf13d40fb24,2016-01-20,31,2016-01-20,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
12,air_ba937bf13d40fb24,2016-01-27,24,2016-01-27,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
16,air_ba937bf13d40fb24,2016-02-03,18,2016-02-03,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
22,air_ba937bf13d40fb24,2016-02-10,32,2016-02-10,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...,...
252075,air_a17f0778617c76e2,2017-03-22,55,2017-03-22,Wednesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,8.0
252081,air_a17f0778617c76e2,2017-03-29,72,2017-03-29,Wednesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,4.0
252088,air_a17f0778617c76e2,2017-04-05,29,2017-04-05,Wednesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2.0
252094,air_a17f0778617c76e2,2017-04-12,10,2017-04-12,Wednesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2.0
252101,air_a17f0778617c76e2,2017-04-19,25,2017-04-19,Wednesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN

In [19]:
df[df['day_of_week'] == 'Wednesday']

0          True
1         False
2         False
3         False
4         False
          ...
252103    False
252104    False
252105    False
252106    False
252107    False
Name: day_of_week, Length: 252108, dtype: bool

In [26]:
df[(df['day_of_week'] == 'Wednesday') &  (df['visitors'] == 2)]

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
491,air_25e9888d30b386df,2016-06-22,2,2016-06-22,Wednesday,0,Izakaya,Tōkyō-to Shinagawa-ku Higashigotanda,35.626568,139.725858,NaN
517,air_25e9888d30b386df,2016-08-03,2,2016-08-03,Wednesday,0,Izakaya,Tōkyō-to Shinagawa-ku Higashigotanda,35.626568,139.725858,NaN
644,air_25e9888d30b386df,2017-03-29,2,2017-03-29,Wednesday,0,Izakaya,Tōkyō-to Shinagawa-ku Higashigotanda,35.626568,139.725858,4.0
2716,air_d0e8a085d8dc83aa,2017-03-29,2,2017-03-29,Wednesday,0,Cafe/Sweets,Hyōgo-ken Kōbe-shi Sumiyoshi Higashimachi,34.720228,135.265455,4.0
2985,air_5c65468938c07fa5,2016-07-27,2,2016-07-27,Wednesday,0,Other,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,NaN
...,...,...,...,...,...,...,...,...,...,...,...
248077,air_735bcbe1763d6e98,2016-08-17,2,2016-08-17,Wednesday,0,Bar/Cocktail,Tōkyō-to Minato-ku Roppongi,35.664122,139.729426,NaN
248526,air_61668cc2b0778898,2016-10-12,2,2016-10-12,Wednesday,0,Bar/Cocktail,Tōkyō-to Chūō-ku Ginza,35.672114,139.770825,NaN
248609,air_61668cc2b0778898,2017-02-01,2,2017-02-01,Wednesday,0,Bar/Cocktail,Tōkyō-to Chūō-ku Ginza,35.672114,139.770825,15.0
250821,air_0164b9927d20bcc3,2017-02-15,2,2017-02-15,Wednesday,0,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,6.0
250865,air_0164b9927d20bcc3,2017-04-12,2,2017-04-12,Wednesday,0,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,2.0

In [31]:
df[df['day_of_week'] == 'Wednesday'][['visitors', 'reserve_visitors']].mean()

visitors            19.230121
reserve_visitors    11.250680
dtype: float64

In [29]:
df['visitors'].mean()

20.973761245180636

In [33]:
df[df['day_of_week'] == 'Monday']['visitors'].mean()

17.177009027207877

In [36]:
df[(df['day_of_week'] == 'Saturday') | (df['day_of_week'] == 'Sunday')]['visitors'].mean()

25.256869738495084

In [39]:
df[df['holiday'] == 0]['visitors'].mean()

20.828063827386945

In [44]:
df[df.genre == 'Dining bar']['visitors'].idxmax()

245791

In [48]:
df[df.genre == 'Dining bar'].groupby('day_of_weeksitors'].max()')['vi

day_of_week
Friday       132
Monday       348
Saturday     176
Sunday       228
Thursday     105
Tuesday      103
Wednesday    162
Name: visitors, dtype: int64

In [46]:
df.iloc[245791]

id                           air_c6aa2efba0ffc8eb
visit_date                             2017-01-23
visitors                                      348
calendar_date                          2017-01-23
day_of_week                                Monday
holiday                                         0
genre                                  Dining bar
area                Tōkyō-to Adachi-ku Chūōhonchō
latitude                                  35.7757
longitude                                 139.804
reserve_visitors                               25
Name: 245791, dtype: object

In [45]:
df.head(10)

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
5,air_ba937bf13d40fb24,2016-01-19,9,2016-01-19,Tuesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
6,air_ba937bf13d40fb24,2016-01-20,31,2016-01-20,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
7,air_ba937bf13d40fb24,2016-01-21,21,2016-01-21,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
8,air_ba937bf13d40fb24,2016-01-22,18,2016-01-22,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
9,air_ba937bf13d40fb24,2016-01-23,26,2016-01-23,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

In [52]:
df[df.holiday == 1]['visitors'].idxmax()

122871

In [53]:
df.iloc[122871]

id                                     air_df554c4527a1cfe6
visit_date                                       2016-12-30
visitors                                                205
calendar_date                                    2016-12-30
day_of_week                                          Friday
holiday                                                   1
genre                                               Izakaya
area                Shizuoka-ken Hamamatsu-shi Motoshirochō
latitude                                            34.7109
longitude                                           137.726
reserve_visitors                                         58
Name: 122871, dtype: object